apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: pipeline-temps-reel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: lovecookie93/kafka-consumer:latest
        envFrom:
        - configMapRef:
            name: app-config